<ion-view view-title="{{ patient.person.display }}">
	<ion-content>
	<div class="list text-center " ng-if="patient.person.dead">
		<div class="item item-light">{{ 'PATIENT_EXPIRED' | translate }}</div>
	</div>
	<div class="card">
		<div class="item item-divider">{{ 'BASIC' | translate }}</div>
		<ion-item class="item-icon-left">
			<i class="icon ion-person"></i>ID<p>{{ patient.identifiers[0].identifier }}</p>
		</ion-item>
		<ion-item class="item-icon-left" ng-if="!patient.person.birthdateEstimated">
			<i class="icon ion-person"></i>{{ 'AGE' | translate }}<p>{{ patient.person.age }}</p>
		</ion-item>
		<ion-item class="item-icon-left" ng-if="patient.person.birthdateEstimated">
			<i class="icon ion-person"></i>{{ 'AGE' | translate }} ({{ 'ESTIMATED' | translate | lowercase}})<p>{{ patient.person.age }}</p>
		</ion-item>
		<ion-item class="item-icon-left" ng-if="!patient.person.birthdateEstimated">
			<i class="icon ion-person"></i>{{ 'BIRTHDATE' | translate}}<p>{{ patient.person.birthdate }}</p>
		</ion-item>
		<ion-item class="item-icon-left" ng-if="patient.person.birthdateEstimated">
			<i class="icon ion-person"></i>{{ 'BIRTHDATE' | translate}} ({{ 'ESTIMATED' | translate}})<p>{{ patient.person.birthdate }}</p>
		</ion-item>
		<ion-item class="item-icon-left">
		<div ng-if="patient.person.gender==='M'">
			<i class="icon ion-male positive"></i>{{ 'GENDER' | translate}}<p>{{ 'MALE' | translate }}</p>
		</div>
		<div ng-if="patient.person.gender==='F'">
			<i class="icon ion-male royal"></i>{{ 'GENDER' | translate}}<p>{{ 'FEMALE' | translate }}</p>
		</div>
		</ion-item>
	</div>

	<div class="card">
		<div class="item item-divider">{{ 'LOCATION' | translate }}</div>
		<ion-item class="item-icon-left"> <i class="icon ion-earth"></i>{{ 'COUNTRY' | translate }}<p>{{ patient.person.addresses[0].country }}</p></ion-item>
		<ion-item class="item-icon-left"> <i class="icon ion-earth"></i>{{ 'STATE' | translate }}/{{ 'PROVINCE' | translate }}<p>{{ patient.person.addresses[0].stateProvince }}</p></ion-item>
		<ion-item class="item-icon-left"> <i class="icon ion-earth"></i>{{ 'CITY' | translate }}<p>{{ patient.person.addresses[0].cityVillage }}</p></ion-item>
		<ion-item class="item-icon-left"> <i class="icon ion-location assertive"></i>{{ 'ADDRESS' | translate }}<p>{{ patient.person.addresses[0].address1 }}</p></ion-item>
		<ion-item class="item-icon-left"> <i class="icon ion-ios-home"></i>{{ 'POSTAL' | translate }}<p>{{ patient.person.addresses[0].postalCode }}</p></ion-item>
	</div>
	</ion-content>
</ion-view>