<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<widget id="com.ionicframework.fixing956123" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0" defaultlocale="en-US">
  <name>OpenMRS Mobile</name>
  <description>
        OpenMRS for all your mobile devices.
    </description>
  <author email="thevincentes@gmail.com" href="https://wiki.openmrs.org/display/~vincentes">
      Vicente Bermúdez
    </author>
  <content src="index.html"/>
  <access origin="*"/>
  <preference name="webviewbounce" value="false"/>
  <preference name="UIWebViewBounce" value="false"/>
  <preference name="DisallowOverscroll" value="true"/>
  <preference name="android-minSdkVersion" value="16"/>
  <preference name="BackupWebStorage" value="none"/>
  <feature name="StatusBar">
    <param name="ios-package" value="CDVStatusBar" onload="true"/>
  </feature>
</widget>
